<div class="container-hluid">
  <div class="row no-gutters">
    <div class="col-3 bg-primary ">
      
    </div>
    <div class="col-9">
      <hr>
      <br>
    <h1>会議室の新規登録</h1>
    <br>
 
    <div class="border col-5">
        <br>
        <div class="row">
            <div class="col-md">
                <form>
                    <div class="form-group col-5">
                        <label>テスト</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>